<%- include('partials/header') %>
<div class="container d-flex justify-content-center align-items-center vh-100">
     <div class="p-5 text-center bg-body-tertiary rounded-3">
        <img src="images/HH logo.png" alt="logo" height="220px" width="220px" srcset="">
        <h1 class="text-body-emphasis">JSON Web Token Authentication and Authorization API</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
          Sign in if you have an account, or sign up to join us."</p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="/register">
                <button class="btn btn-dark btn-lg px-4 rounded-pill" type="button">
            Sing Up
          </button></a>            
         <a href="/login">
            <button class="btn btn-dark btn-lg px-4 rounded-pill" type="button">
            Sing In
          </button></a>   
        </div>
      </div>

</div>
    
  <%- include('partials/footer') %>