<%- include(`partials/header`) %>

<section class="vh-100 bg-body-tertiary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center pt-0">
            <img src="images/fitness-gym-logo-gym-sports-logo-creative-design-vector.jpg" alt="" height="220px" width="220px">
            <h3 class="mb-5">Sign in</h3>
         <form  action="/login" method="POST">
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" name="username"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg"  placeholder="Password" name="password"/>
            </div>

            <div class="form-check d-flex justify-content-start mb-4 p-0">
              <a href="/register" class="register-link">Don't have an account?</a>
            </div>

            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">Sign In</button>
          </form>
            <hr class="my-4">
            <a class="btn btn-block" href="/auth/google" role="button">
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-outline-secondary btn-block "
              type="submit"><img src="images/google-icon.png" height="30px" width="30px" alt="google"> Sign in with google</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include(`partials/footer`) %>