<%- include(`partials/header`) %>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
       <img src="images/HH logo.png" alt="logo" height="100px" width="130px" srcset="">
       <h1 class="text-body-emphasis">EXPRESS AUTHENTICATION</h1>
       <p class="col-lg-8 mx-auto fs-5 text-muted">
           "Welcome to my new site"      </p>
       <div class="d-inline-flex gap-2 mb-5">
           <a href="/logout">
               <button class="btn btn-dark btn-lg px-4 rounded-pill" type="button">
           Log Out
         </button></a>              
       </div>
     </div>

</div>
<%- include(`partials/footer`) %>